h1 {
  color: #FA3416;
  text-align: right;  
}

h2 {
  font-style: italic;
  text-align: center;
  font-weight: 500px;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
  font-size: 25px;
  line-height: 50px;
}